<form action="/tasks/add" method="POST">
	
	<div>
		<label for="title">Write a title:</label>
		<input type="text" name="title" placeholder="Write your title" id="title">
	</div>

	<div>
		<label for="description">Description:</label>
		<textarea 
			id="" 
			name="description" 
			placeholder="Write your description"
		></textarea>
	</div>

	<button>Add</button>

</form>
